# Dependency directory
node_modules

# Source maps
*.js.map

# Files marked with gitigx
*gitigx*

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.sass_cache
sass/.sass-cache/