@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
body {
  font-family: "Open Sans", serif;
  color: #2A2B2E;
  margin: 0; }
  body strong {
    font-weight: 300; }

h5, p {
  margin: 0; }

h1, h2, h3, h4 {
  font-family: 'Roboto Condensed', 'Impact', serif; }

h1 {
  font-size: 5em;
  font-weight: 700; }

h2 {
  color: #5A5A66; }

h2, h4 {
  font-weight: 700; }

h3 {
  font-weight: 400;
  color: #6C809A; }

.text-negative {
  color: #aaa; }

h5 {
  font-weight: 600;
  font-size: 1.15em; }

a, a:hover {
  color: inherit;
  text-decoration: inherit; }

.img-responsive {
  max-width: 100%;
  max-height: 100%;
  display: block; }

.text-center, h2, #intro {
  text-align: center; }

.flex-center-container, .caption, #intro, #profile .background, #profile .overlay, #education #bln1, #education #bln2, #education #bln3, #footer #earth {
  display: flex;
  justify-content: center;
  align-items: center; }

.caption {
  position: absolute; }

#intro {
  flex-direction: column;
  position: relative;
  height: 100vh; }
  #intro > div img {
    display: inline;
    height: 2em;
    vertical-align: middle; }

#profile {
  height: 80vh;
  position: relative; }
  #profile .background {
    height: 100%;
    width: 100%; }
  #profile .overlay {
    position: absolute;
    top: 0;
    height: 100%; }
  #profile #blnb {
    z-index: 1;
    width: 100em;
    position: relative;
    top: 25px; }
    #profile #blnb .caption {
      top: 4em;
      right: 8em;
      width: 500px;
      height: 11em; }

#education #bln1, #education #bln2, #education #bln3 {
  position: relative;
  width: 80vw;
  margin: 20px auto; }
  #education #bln1 .caption, #education #bln2 .caption, #education #bln3 .caption {
    text-align: center;
    height: 40%;
    width: 60%;
    transform: translateY(-20%); }
@media (min-width: 1024px) {
  #education {
    height: 120vh; }
    #education #bln1 {
      width: 25em;
      position: relative;
      left: 5vw;
      z-index: 3; }
    #education #bln2 {
      width: 18em;
      position: relative;
      left: 50vw;
      top: -20vh;
      z-index: 2; }
    #education #bln3 {
      width: 12em;
      position: relative;
      left: 25vw;
      top: -50vh; } }

#experience .cld {
  width: 50em; }
  #experience .cld .caption {
    height: 10em;
    bottom: 0.5em;
    left: 12em;
    right: 9em; }
#experience .cld-sm {
  width: 25em; }
  #experience .cld-sm .caption {
    top: 5em;
    bottom: 2em;
    left: 3em;
    right: 4em; }

#hashtags img {
  max-width: 30%;
  float: left;
  clear: both; }

#skills .skill-bar {
  text-align: center;
  margin: 1em auto; }
  #skills .skill-bar h4 {
    display: inline-block;
    vertical-align: middle;
    color: white; }
  #skills .skill-bar .cld-bar-cover {
    margin-right: 2em;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle; }
#skills .cld-bar img {
  float: left;
  height: 4em;
  margin: 0 10px; }

#footer {
  position: absolute;
  height: 100vh; }
  #footer #rainbow {
    width: 80vw;
    position: absolute;
    display: block;
    right: -10%;
    z-index: 1; }
  #footer #earth {
    position: relative;
    z-index: 2; }
    #footer #earth .caption {
      width: 50vw;
      height: 50vh; }

/*# sourceMappingURL=custom.css.map */
