$body-font: 'Open Sans', serif;
$j-black: #2A2B2E;

$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

body {
	font-family: $body-font;
	color: $j-black;
    margin: 0;
    position: relative;
    background-color: aliceblue;
    strong{
		font-weight: 300;
	}
//    position: relative;
}

h5,p{
    margin: 0;
}

h1, h2, h3, h4 {
	font-family: 'Roboto Condensed', 'Impact', serif;
    margin: 0;
}
	h1 {
		font-size: 4em;
		font-weight: 700;
	}
	h2 {
		color: #5A5A66;
        @extend .text-center;
	}
	h2, h4{
		font-weight: 700;
	}
	h3 {
		font-weight: 400;
		color: #6C809A;
	}
	.text-negative{ 
		color: #aaa;
	}
	h5 {
		font-weight: 600;
		font-size: 1.15em;
	}

a, a:hover {
	color: inherit;
	text-decoration: inherit;
}


// util==========

.img-responsive{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.text-center{
    text-align: center;
}

.flex-center-container{
    display: flex;
  justify-content: center;
  align-items: center; 
}

// sets text overlay on img
// <div position:relative><img/><.caption/></div>
.caption {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    @extend .flex-center-container;
}



// individual assets ============

#intro{
    @extend .text-center;
    @extend .flex-center-container;
    flex-direction: column;
    
    height: 100vh;

    #logo::after{
        background-image: url(../img/logo.svg);
        background-size: 1.5em 2em;
        width: 1.5em;
        height: 2em;
        display: inline-block;
        vertical-align: middle;
        content: "";
    }
}

#profile{
    .background{
        height: 100%;
        width: 100%;
        @extend .flex-center-container;}
    
    height: 100vh;
    position: relative;
    
    .overlay{
        position: absolute;
        top: 0;
        height: 100%;
        @extend .flex-center-container;
    }
    #blnb {
        position: relative;
        z-index: 1;
        width: 100em;
        top: 25px;
        
        transform: translateX(-40%);
        
        .caption {
            top: 4em;
            right: 8em;
            width: 500px;
            height: 11em;
        }
    }  
}

#education {
    display: flow-root;
    
    #bln1,#bln2,#bln3{
//        position: absolute;
//        width: 80vw;
        margin: 0 10vw;
        @extend .flex-center-container;
        
     .caption{
        text-align: center;
         height: 40%;
         width: 60%;
         transform: translateY(-20%);
        }
    }
    
    @media #{$desktop}{
//        height: 120vh;
        #bln1 {
            width: 25em;
            float: left;
            position:relative;
            z-index: 3;
        }

        #bln2 {
            width: 18em;
            float: right;
            position: relative;
            z-index: 2;
        }

        #bln3 {
            clear: both;
            margin: auto;
            width: 12em;
            position: relative;
//            left: 25vw;
        }
    }
}


#experience{
    .cld {
        width: 50em;
        position: relative;
        .caption{
            height: 10em;
            bottom: 0.5em;
            left: 12em;
            right: 9em;
        }
    }
    
    .cld-sm {
        width: 25em;
        position: relative;
        .caption {
            top:5em; bottom: 2em; left: 3em; right: 4em;
        }
    }
}

#hashtags {
    img {
        max-width: 30%;
        float: left;
        clear: both;
    }
}

#skills{
    .skill-bar{
        text-align: center;
        margin: 1em auto;
        
        h4{
            display: inline-block;
            vertical-align: middle;
            color: white;
        }
        .cld-bar-cover{
            margin-right: 2em;
            overflow: hidden;
            display: inline-block;
            vertical-align: middle;
        }
        
    }
    
    
    
    .cld-bar {
        img{
            float: left;
            height: 4em;
            margin: 0 10px;
        }
    }
}


#footer{
//    background-color: antiquewhite;
    position: relative;
    display: flow-root;
    
    #rainbow{
        width: 80vw;
        max-width: 80em;
        display: block;
        position: relative;
        float: right;
        z-index: 1;
    }

}

#earth{
    position: absolute;
    left: 0; right: 0;
    bottom: 0;
    z-index: 3;
    @extend .flex-center-container;
    .caption{
        width: 50vw;
        height: 50vh;
    }
}



