@import url("https://fonts.googleapis.com/css?family=Lusitana");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility; }
  div::selection, span::selection, applet::selection, object::selection, iframe::selection, blockquote::selection, pre::selection,
  a::selection, abbr::selection, acronym::selection, address::selection, big::selection, cite::selection, code::selection,
  del::selection, dfn::selection, em::selection, img::selection, ins::selection, kbd::selection, q::selection, s::selection, samp::selection,
  small::selection, strike::selection, strong::selection, sub::selection, sup::selection, tt::selection, var::selection,
  b::selection, u::selection, i::selection, center::selection,
  dl::selection, dt::selection, dd::selection, ol::selection, ul::selection, li::selection,
  fieldset::selection, form::selection, label::selection, legend::selection,
  caption::selection, tbody::selection, tfoot::selection, thead::selection, tr::selection, th::selection, td::selection,
  article::selection, aside::selection, canvas::selection, details::selection, embed::selection,
  figure::selection, figcaption::selection, footer::selection, header::selection, hgroup::selection,
  menu::selection, nav::selection, output::selection, ruby::selection, section::selection, summary::selection,
  time::selection, mark::selection, audio::selection, video::selection {
    background-color: gainsboro !important; }

p::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, br::selection, small::selection {
  background-color: gainsboro !important; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

body {
  margin: 0; }

body {
  font-family: "Lusitana", serif;
  font-size: 1.8em;
  line-height: 1.8; }
  @media screen and (max-width: 425px) {
    body {
      font-size: 1.2em; } }
  body ul {
    list-style-type: square;
    list-style-position: inside; }
  body .small {
    font-size: 14px; }
  body a {
    color: inherit;
    cursor: pointer;
    text-decoration: underline; }
  body #narrow {
    margin: 5% 5% 0 5%; }
    @media (min-width: 961px) {
      body #narrow {
        margin-left: 50px; }
        body #narrow > p, body #narrow > ul {
          margin-right: 20%; } }
  body .text-center, body article .small, article body .small {
    text-align: center; }
  body .noun img {
    height: 0.8em; }
  body h1 > .noun img {
    height: 1.2em; }

#logo {
  height: 65px; }

@keyframes flip {
  0% {
    transform: rotateY(180deg); }
  100% {
    transform: rotateY(-180deg); } }
#jett img {
  animation-name: flip;
  animation-duration: 200ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: steps(2); }

#float {
  transform-origin: 100% 0%;
  letter-spacing: 10px;
  transform: rotateZ(90deg);
  position: fixed;
  right: 0;
  top: 50vh;
  background-color: white;
  padding: 5px 15px;
  z-index: 2;
  background-color: firebrick;
  color: white;
  text-decoration: none; }

b {
  color: firebrick; }
  b::selection {
    background-color: firebrick !important;
    color: white; }

table {
  border: 1px solid black;
  font-size: 14px !important; }
  table td {
    border: 1px solid black;
    vertical-align: middle; }
    table td:nth-child(1) {
      width: 40%;
      padding: 20px; }
    table td .td2nd {
      vertical-align: top;
      padding: 2px 20px;
      overflow-y: scroll; }
  @media screen and (max-width: 961px) {
    table tr {
      display: block;
      margin-bottom: 2px;
      border-top: 1px solid;
      border-bottom: 1px solid; }
    table td {
      display: block;
      text-align: center;
      width: auto !important; }
      table td::before {
        content: attr(data-label);
        float: left; } }

article.fullpage > p, article.fullpage h1, article.fullpage h3, article.fullpage ul {
  margin: 5% 5% 0 5%; }
  article.fullpage > p .img-full, article.fullpage h1 .img-full, article.fullpage h3 .img-full, article.fullpage ul .img-full {
    margin-left: 0;
    padding-right: 0; }
  @media (min-width: 961px) {
    article.fullpage > p, article.fullpage h1, article.fullpage h3, article.fullpage ul {
      margin-right: 20%; } }
article.fullpage > p, article.fullpage ul {
  font-size: 0.7em;
  margin-top: 1.6em; }
article.fullpage .img {
  padding-right: 20%; }
article.scroll {
  max-height: 55vh;
  text-align: left; }
article .img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%; }
  article .img > img {
    width: 100%; }
article .img-group > .img {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
article .img-full {
  width: 100%;
  margin-right: inherit !important; }
@media (max-width: 961px) {
  article .img {
    padding-right: 0; } }
article .img-lg {
  width: 75%; }
article .img-md {
  width: 50%; }
article .img-sm {
  width: 30%; }
@media (max-width: 961px) {
  article .img-lg, article .img-md {
    width: 85%; }
  article .img-sm {
    width: 50%; } }
@media (max-width: 425px) {
  article .img-lg, article .img-md, article .img-sm {
    width: 90%; } }

.lightbox .ril-caption-content, .lightbox .ril__captionContent, .lightbox .ril-toolbar__item, .lightbox .ril__toolbarItem {
  line-height: 1 !important;
  text-overflow: initial;
  overflow-x: scroll; }
.lightbox ::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */ }
.lightbox .title {
  font-size: 0.6em; }
  @media (min-width: 961px) {
    .lightbox .title {
      font-size: 0.8em; } }
.lightbox .caption {
  font-size: 0.5em; }

caption {
  text-align: left;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white; }
  caption a {
    color: black;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
       supported by Chrome and Opera */ }
  caption a.active {
    color: firebrick; }

/*# sourceMappingURL=App.css.map */
